@import "tailwindcss";

@font-face {
  font-family: "Hakuna-Sans";
  src: url("../public/Hakuna-Sans.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "ProfaTrial-Thin";
  src: url("../public/ProfaTrial-Thin.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Garet-Book";
  src: url("../public/Garet-Book.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --font-valve: "Valve", sans-serif;
  --font-value: "Aquawa-Pro", sans-serif;
}

body {
  font-family: "Garet-Book", sans-serif;
  font-weight: bolder;
  font-size: 15px;
}
/* Heading */
span {
  font-family: "Hakuna-Sans", sans-serif;
}
